<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>junior</title>
  </head>
<body>
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="text-center">
        <a class="blog-header-logo text-dark" href="#">Junior Achievement</a>
      </div>
      <div class="row col-6 d-flex justify-content-end align-items-center">
        <a class="col-3 btn btn-sm btn-outline-secondary" href="http://127.0.0.1:5000/signup">Registrarse</a>
        <a class="col-3 btn btn-sm btn-outline-secondary" href="http://127.0.0.1:5000/login">Log In</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="btn btn-outline-primary" href="#">Home</a>
      <a class="btn btn-outline-primary" href="http://127.0.0.1:5000/videos">Video</a>
      <a class="btn btn-outline-primary" href="http://127.0.0.1:5000/test_vocacional">Test Vocacional</a>
      <a class="btn btn-outline-primary" href="http://127.0.0.1:5000/main">Mi travesía</a>
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <img src="static/img/people.jpg" class="img-fluid" alt="Responsive image" >
    <div class="col-md-6 px-0">

      <h1 class="display-4 font-italic">¿Por qué Junior Achievement?</h1>
      <p class="lead my-3">Ofrecemos acompañamiento virtual y presencial implementando diferentes vías de comunicación para ayudarte a encontrar tu vocación</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Seguir leyendo...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Juniors</strong>
          <h3 class="mb-0">Federico García</h3>
          <div class="mb-1 text-muted">May 03</div>
          <p class="card-text mb-auto">Hace 3 años conocí Juniors Achievement y gracias a eso encontré mi vocación. Ahora estoy estudiando...</p>
          <a href="#" class="stretched-link">Seguir leyendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Voluntarios</strong>
          <h3 class="mb-0">Luciana Ortega</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">Siempre estuve interesada en la educación pero siendo ingeniera no sabía en qué podía contribuir. En este espacio logré...</p>
          <a href="#" class="stretched-link">Seguir leyendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
</div>


      <div class="p-4">
        <h4 class="font-italic">Redes Sociales</h4>
        <ol class="list-unstyled">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
