    
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" src="static/css/estilos.css">
  <link rel="stylesheet" src="static/css/estilos_video.css">

  <title>Junior Achievement</title>

<div class="container">
  <div class="fila">
    <div class="video">
        <p class="text-dark"> Contador publico </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BUC22-cDDhs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
    <div class="video">
        <p class="text-dark"> Nutricionista </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/67kiKYoJ0oE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>    
  </div>
  <div class="fila">
    <div class="video">
        <p class="text-dark"> Abogado civil </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P2fTmEAhHFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
      <div class="video">
        <p class="text-dark"> Policia </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S_8sUxEYr-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>      
  </div>
  <div class="fila">
    <div class="video">
      <p class="text-dark"> Policia </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ft3I1ag5XCg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
